
<%= form_tag '/login' do %>

<ul>
<ul> <h1>Login</h1> </ul>
<br>
  <ul> Email: <%= text_field_tag :email %> </ul>
  <br>
  <ul> Password: <%= password_field_tag :password %> </ul>
  <br>
  <ul> <%= submit_tag "Submit" %> </ul>
</ul>

<% end %>