<h1>Admin &raquo; Dashboard</h1>
<%# <p>Find me in app/views/admin/dashboard/show.html.erb</p> %>
<h2>Currently, there are:</h2>
<h3> <a href="/admin/products"><%= @product_count%></a> products listed</h3>
<h3> <a href="/admin/products"><%= @category_count%></a> categories listed</h3>